.archive {
   width: 67.5vw;
}

.archive-content {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   flex-direction: row;
}

.archive-project {
   width: 20vw;
   height: 20vw;
   border: 5px solid #000000;
   margin-bottom: 2vw;
   transition: box-shadow 0.75s, transform 0.5s;
   box-shadow: 0;
}
.archive-project:hover {
   transform: translate(-5px, -5px);
   box-shadow: 5px 5px 0px 1px #c491db;
}